In [1]:
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common import exceptions

# Scraping Season 2019-2020 stats from stats.nba.com

## Player Traditional Stats

In [2]:
nba_players = 'https://stats.nba.com/players/traditional/?sort=PTS&dir=-1'
driver = webdriver.Chrome(executable_path="../chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []

i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
final = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0,2], axis = 1)

In [3]:
trad_columns = ['Player', 'Age', 'W', 'L', 'MP', 'PTS',
               'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM',
               'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV',
               'STL', 'BLK', 'PF', 'FP', 'DD2', 'TD3', '+/-']
final.columns = trad_columns

In [4]:
final.drop(columns = ['PTS', 'STL', 'BLK'], inplace = True)

In [5]:
final.head()

,Player,Age,W,L,MP,FGM,FGA,FG%,3PM,3PA,...,OREB,DREB,REB,AST,TOV,PF,FP,DD2,TD3,+/-
0,James Harden,30,28,15,37.1,10.4,23.7,43.9,4.7,13.0,...,1.1,5.1,6.2,7.3,4.6,3.2,57.4,13,2,4.4
1,Giannis Antetokounmpo,25,37,6,30.7,11.1,19.9,55.7,1.6,5.0,...,2.3,10.6,12.9,5.6,3.6,3.2,56.8,38,4,10.4
2,Trae Young,21,9,32,35.1,9.3,20.8,44.5,3.4,9.3,...,0.6,4.0,4.6,8.8,4.7,1.6,47.0,15,2,-5.1
3,Luka Doncic,20,26,14,32.9,9.5,20.4,46.6,3.0,9.2,...,1.5,8.2,9.6,9.0,4.3,2.5,53.5,27,12,5.7
4,Damian Lillard,29,19,25,37.0,8.9,19.7,45.0,3.7,9.8,...,0.5,3.7,4.2,7.6,2.8,1.7,45.9,10,0,0.7

## Player Defense Stats

In [6]:
nba_players = 'https://stats.nba.com/players/defense/?sort=DEF_WS&dir=-1'
driver = webdriver.Chrome(executable_path="../chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        time.sleep(10)
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
defense = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [7]:
def_columns= ['Player', 'Age', 'GP', 'W', 'L', 'MP', 'DEF_RTG', 'DREB',
            'DREB%', 'T_DREB%', 'STL', 'T_STL%', 'BLK', 'T_BLK%',
            'OP_TOV', 'OP_2NDPTS', 'OP_PAINT', 'DEF_WS']
defense.columns = def_columns
defense.drop(columns = ['Age', 'GP', 'W', 'L', 'MP'], inplace = True)

In [8]:
defense.head()

,Player,DEF_RTG,DREB,DREB%,T_DREB%,STL,T_STL%,BLK,T_BLK%,OP_TOV,OP_2NDPTS,OP_PAINT,DEF_WS
0,Giannis Antetokounmpo,10.6,28.8,38.9,1.1,22.3,1.0,23.3,9.0,6.6,7.9,23.7,0.182
1,Justise Winslow,5.2,15.4,21.4,0.6,11.9,0.5,13.5,12.2,7.7,9.6,27.6,0.182
2,Joel Embiid,9.8,29.7,40.3,0.8,15.8,1.4,38.9,10.8,7.0,8.4,27.2,0.175
3,Naz Mitrou-Long,2.0,11.5,14.3,0.3,25.0,0.3,16.7,4.7,2.0,2.7,10.7,0.170
4,Jayson Tatum,5.9,16.4,23.9,1.4,21.8,0.8,19.2,10.1,9.3,8.8,29.7,0.164

## Player Usage

In [10]:
nba_players = 'https://stats.nba.com/players/usage/?sort=USG_PCT&dir=-1'
driver = webdriver.Chrome(executable_path="../chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        time.sleep(10)
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
usage = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [11]:
use_columns = ['Player', 'Age', 'W', 'L', 'MP', 'USG%',
              'T_FGM%', 'T_FGA%', 'T_3PM%', 'T_3PA%', 'T_FTM%',
              'T_FTA%', 'T_OREB%', 'T_DREB%', 'T_REB%', 'T_AST%', 'T_TOV%',
              'T_STL%', 'T_BLK%', 'T_BLKA%', 'T_PF%', 'T_PFD%', 'T_PTS%']
usage.columns = use_columns
usage.drop(columns = ['Age', 'W', 'L', 'MP'], inplace = True)

In [12]:
usage.head()

,Player,USG%,T_FGM%,T_FGA%,T_3PM%,T_3PA%,T_FTM%,T_FTA%,T_OREB%,T_DREB%,T_REB%,T_AST%,T_TOV%,T_STL%,T_BLK%,T_BLKA%,T_PF%,T_PFD%,T_PTS%
0,Giannis Antetokounmpo,36.6,39.4,34.3,18.3,20.1,49.4,57.0,38.6,38.9,38.9,34.1,40.4,22.3,23.3,41.9,25.4,54.4,38.6
1,James Harden,36.6,33.7,34.5,41.1,39.4,61.0,56.4,12.0,18.2,16.7,46.1,39.4,26.3,23.7,36.3,19.6,46.5,39.9
2,Luka Doncic,36.1,33.2,33.9,27.6,31.4,50.0,49.4,18.6,33.4,29.8,54.6,47.2,24.3,5.5,35.4,19.6,47.1,35.4
3,Trae Young,33.8,30.3,31.7,38.3,36.0,53.6,49.9,9.6,16.7,15.2,50.1,40.5,20.7,3.2,28.0,9.2,47.6,34.9
4,Kawhi Leonard,33.8,33.3,33.4,25.2,24.4,45.9,41.7,13.3,24.9,22.1,32.0,36.1,37.4,19.0,25.0,13.6,37.2,34.6

## Player Shooting Stats

In [13]:
nba_players = 'https://stats.nba.com/players/scoring/?sort=GP&dir=-1'
driver = webdriver.Chrome(executable_path="../chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        time.sleep(10)
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
shooting = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [14]:
shoot_col = ['Player', 'Age', 'W', 'L', 'MP', 'FGA_2P%', 'FGA_3P%',
            '2PT%', '2PT_MR%', '3PT%', 'FBPTS%', 'FT%', 'OFFTOV%', 'PAINTPTS%',
            'AST_2FGM%', 'UAST_2FGM%', 'AST_3FGM%', 'UAST_3FGM%',
            'FGM_AST%', 'FGM_UAST%']
shooting.columns = shoot_col
shooting.drop(columns = ['W', 'L', 'MP'], inplace= True)

In [15]:
shooting.head()

,Player,Age,FGA_2P%,FGA_3P%,2PT%,2PT_MR%,3PT%,FBPTS%,FT%,OFFTOV%,PAINTPTS%,AST_2FGM%,UAST_2FGM%,AST_3FGM%,UAST_3FGM%,FGM_AST%,FGM_UAST%
0,Coby White,19,53.2,46.8,42.5,8.0,46.7,19.7,10.8,20.5,34.5,28.6,71.4,75.6,24.4,48.5,51.5
1,Kris Dunn,25,66.7,33.3,64.0,1.7,25.1,22.8,11.0,28.5,62.2,41.4,58.6,96.6,3.4,52.9,47.1
2,Tomas Satoransky,28,62.3,37.7,51.2,2.6,31.9,16.5,16.9,21.0,48.6,30.5,69.5,87.8,12.2,47.3,52.7
3,Zach LaVine,24,59.4,40.6,44.6,6.3,36.9,14.0,18.5,17.4,38.3,43.7,56.3,56.9,43.1,48.4,51.6
4,Anfernee Simons,20,58.8,41.3,51.4,15.0,36.4,12.6,12.1,12.6,36.4,35.5,64.5,69.2,30.8,46.3,53.7

## Player Misc Stats

In [16]:
nba_players = 'https://stats.nba.com/players/misc/?sort=GP&dir=-1'
driver = webdriver.Chrome(executable_path="../chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        time.sleep(10)
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
misc = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [17]:
misc_col = ['Player', 'Age', 'W', 'L', 'MP', 'PTS_TOV', '2ND_CH_PTS',
           'FB_PTS', 'PAINT_PTS', 'OPP_PTS_TOV', 'OPP_2ND_PTS', 'OPP_FBPTS',
           'OPP_PAINT_PTS', 'BLK', 'BLKA', 'PF', 'PFD']
misc.columns = misc_col
misc.drop(columns = ['Age', 'W', 'L', 'MP', 'BLK', 'PF'], inplace = True)

# Combining all stats into one dataframe (except opponent)

In [18]:
nba_stats = final.merge(defense, how = 'outer', on = 'Player').merge(usage, how = 'outer', on = 'Player').merge(shooting, how = 'outer', on = 'Player').merge(misc, on = 'Player').drop_duplicates(keep = 'first')

In [19]:
nba_stats.shape

(488, 80)

In [20]:
nba_stats.head()

,Player,Age_x,W,L,MP,FGM,FGA,FG%,3PM,3PA,...,PTS_TOV,2ND_CH_PTS,FB_PTS,PAINT_PTS,OPP_PTS_TOV,OPP_2ND_PTS,OPP_FBPTS,OPP_PAINT_PTS,BLKA,PFD
0,James Harden,30,28,15,37.1,10.4,23.7,43.9,4.7,13.0,...,5.2,3.0,3.5,11.1,14.2,10.5,12.6,37.9,1.5,8.0
1,Giannis Antetokounmpo,25,37,6,30.7,11.1,19.9,55.7,1.6,5.0,...,5.1,3.5,6.4,17.9,9.0,6.6,7.9,23.7,1.1,8.4
2,Trae Young,21,9,32,35.1,9.3,20.8,44.5,3.4,9.3,...,4.2,1.9,3.4,10.2,14.2,11.2,10.3,42.0,1.3,7.7
3,Luka Doncic,20,26,14,32.9,9.5,20.4,46.6,3.0,9.2,...,3.1,2.8,2.8,12.2,10.9,9.7,10.7,34.2,0.9,7.3
4,Damian Lillard,29,19,25,37.0,8.9,19.7,45.0,3.7,9.8,...,3.0,1.0,2.5,8.3,11.1,12.3,9.8,36.0,1.1,6.1

In [21]:
#reworking dataframe in jan 2020
nba_stats.to_csv('../data/nba_later.csv')

-----------------------------------

**The code below this section was only used during my capstone project that was presented on 12/05/2019. Since then, I have been working on coming up with a way to optimize my scrapers So that I would not have to manually clean them**

# adding in salaries and 538 numbers

Adding the salaries dataframe scraped from basketball-reference and the 538 player raptor projects.

In [17]:
salaries = pd.read_csv('../data/salaries.csv')
scrape538 = pd.read_csv('../data/scrape538.csv')
scrape538 = scrape538.drop(['Unnamed: 0', 'Position(s)'], axis = 1)
nba_stats = nba_stats.merge(scrape538, how = 'outer', on = 'Player').merge(salaries, how = 'outer', on = 'Player')

After merging the dataframes, we realize that there are a lot of players with null values. We take care of this by making another dataframe with all of the null values and manually cleaning it. We have null values because each of these sources spell the player names differently. Also, some players were accounted for in the salaries dataframe, however they were recently waived by a their team and are no longer on the roster. Examples of this situation is provided in the technical report. Since I am planning to manually clean the dataframe with all of the null values and later improt the cleaned version, I can drop call null values in the main nba_stats dataframe

In [18]:
problem19 = nba_stats[nba_stats.isna().any(axis=1)]
problem19.to_csv('../data/problem19.csv')
nba_stats.dropna(inplace = True)

In [19]:
problem19.shape

(214, 94)

Once I manually cleaned the data, I import the csv back in and concat it to the bottom of the nba_stats dataframe. I also fill in all of the remaining null values. Some null values would be a result of missing salary numbers or 538 rankings. I am not planning on using the salaries as a feature in my model, and will assume if there is a 0, that means the player salary is unknown. If a player doesn't have any 538 rankings, this means that the player has not played enough minutes in a game to recieve a score from 538. Players who have not played that many minutes are irrelevant to my recommendation system because their stats will be inflated anyway (ex. A player who has made all of their FG; however, they have only made one FGA and have played a total of 5 minutes on the court this season).

In [20]:
fixed19 = pd.read_csv('../data/problem19_fixed.csv')
nba_stats = pd.concat([fixed19, nba_stats], ignore_index = True, sort= False).drop(columns = ['Unnamed: 0']).fillna(0)
nba_stats.shape

(466, 93)

In [21]:
nba_stats.head()

,Player,Age_x,W,L,MP,FGM,FGA,FG%,3PM,3PA,...,BSR Def.,BSR Total,OOR Off.,OOR Def.,OOR Total,OVR Off.,OVR Def.,OVR total,WAR,salary
0,Ante Zizic,22,0,6,11.7,1.8,3.5,52.4,0,0,...,-2.2,-6.6,0.1,-6.0,-5.9,-3.7,-3.0,-6.7,-0.1,"$2,281,800"
1,Boban Marjanovic,31,6,3,12,2.8,5.4,51,0,0.1,...,-2.8,-2.2,14.4,-1.8,12.6,3.3,-2.8,0.6,0.2,"$3,500,000"
2,Bogdan Bogdanovic,27,8,10,27.5,5.2,12.7,40.6,2.8,7.2,...,-0.2,3.2,-0.5,-0.1,-0.7,2.8,-0.1,2.6,1.3,"$8,529,386"
3,Bojan Bogdanovic,30,12,8,33.1,7.3,15.3,47.4,3.1,6.8,...,-1.4,-0.1,7.8,-2.2,5.6,2.7,-1.6,1.1,1.3,"$17,000,000"
4,Brandon Goodwin,24,1,0,2.5,0,0,0,0,0,...,21.0,-4.2,-6.6,-13.3,-19.9,-22.9,15.1,-7.8,0.0,0

I export the updated dataframe so that I can use it during EDA and modeling.

--------------------------

In [13]:
string_1 = 'ajgbb wejnfwe'
string_1[0:2:4]

'a'

In [ ]:
string_1 = 'ajgbb wejnfwe'
string_2 = 'aefnewonrfoawengh'

def checking(str_1, str_2):
    str_1_len = 0
    str_1_list = []
    for i in range(len(str_1)):
        for z in str_1[i]:
            single_str1 = z
            str_1_list.append(single_str1)
    for i2