The goal of this notebook is to correctly merge all dataframes together

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Dataframes

## 2019 stats

In [131]:
season = pd.read_csv('data/season1920.csv')
adv = pd.read_csv('data/ad_1920.csv')
salaries = pd.read_csv('data/salaries.csv')
scrape538 = pd.read_csv('data/scrape538.csv')

In [132]:
season = season.drop(['Unnamed: 0', 'Unnamed: 29'], axis = 1)
adv = adv.drop(['Unnamed: 0', 'Pos', 'Age', 'Tm', 'G',
                       'MP'], axis = 1)
scrape538 = scrape538.drop(['Unnamed: 0', 'Position(s)'], axis = 1)

In [133]:
season = season.drop_duplicates(subset = 'Player', keep = 'first')
adv = adv.drop_duplicates(subset = 'Player', keep = 'first')
df = pd.merge(season, adv, on = 'Player').fillna(0)

In [134]:
merged_df = df.merge(salaries, how = 'outer', on = 'Player').merge(scrape538, how = 'outer', on = 'Player')

In [135]:
merged_df.shape

(583, 67)

In [136]:
problem = merged_df[merged_df.isna().any(axis=1)]

In [137]:
problem.shape

(212, 67)

export csv and manually clean it.

In [138]:
problem.to_csv('data/problem_draft.csv')

delete the rows that were in the problem csv and then apend the new problem csv to the dataframe

In [139]:
merged_df.dropna(inplace = True)

In [140]:
fixed19 = pd.read_csv('data/problem.csv')
fixed19 = fixed19.drop(['Unnamed: 0', 'Team', 'Minutes'], axis = 1).fillna(0)
fixed19 = pd.concat([fixed19, merged_df], ignore_index = True, sort= False)
fixed19.to_csv('data/fixed19.csv')

In [141]:
fixed19.shape

(470, 67)

## 2018 BR Stats

In [64]:
season18 = pd.read_csv('data/season1819.csv', index_col = [0])
adv18 = pd.read_csv('data/ad_1819.csv', index_col = [0])

In [65]:
season18 = season18.drop(['Unnamed: 29', 'url_list'], axis = 1).fillna(0).drop_duplicates(subset = 'Player', keep = 'first')
adv18 = adv18.drop(['Pos', 'Age', 'Tm', 'G', 'MP'], axis =1).fillna(0).drop_duplicates(subset = 'Player', keep = 'first')

In [66]:
print(season18.shape)
print(adv18.shape)

(531, 30)
(531, 23)

In [67]:
stats18 = season18.merge(adv18, how = 'outer', on = 'Player')
stats18.shape

(531, 52)

## 2018 NBA Miner stats

In [92]:
misc = pd.read_csv('data/nbam_misc1.csv')
dist = pd.read_csv('data/shot_dist18.csv')
shot_type = pd.read_csv('data/shot_type18.csv')
zone = pd.read_csv('data/shot_zones18.csv')

In [93]:
miner = misc.merge(dist, how = 'outer', on = 'Player').merge(shot_type, how = 'outer', on = 'Player').merge(zone, how = 'outer', on = 'Player')

## combine 2018 stats

In [94]:
cstats18 = stats18.merge(miner, how = 'outer', on = 'Player')
cstats18.shape

(595, 100)

In [103]:
cstats18problem = cstats18[cstats18.isna().any(axis = 1)]
cstats18.dropna(inplace = True)

In [104]:
#export to manually clean
cstats18problem.to_csv('data/stat18_probdraft.csv')

In [105]:
#import clean code
stat18_clean = pd.read_csv('data/stat18_prob.csv')
stat18_clean.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'ORtg', 'DRtg', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
       'VORP', 'Games18', 'FB', 'PAINTPTS', 'TO_PTS', '2ND_PTS', 'Q1PTS',
       'Q2PTS', 'Q3PTS', 'Q4PTS', 'PPP', '>8ft%', '8-16ft%', '16-24ft%',
       '24+%', 'BCS%', '>8FTU', '8-16FTU', '16-24FTU', '24+U', 'BCU',
       'AVGDISTA', 'AVGDISTM', 'AVGDISTF', 'AFGM', 'JS', 'LU', 'DUN', 'TIPIN',
       'JS%', 'Layup%18', 'DUN%', '2PT_m', '3PT_m', 'FT_m', 'AB_3U', 'MRU',
       'paint_nonra', 'ra_usage', 'RC_3', 'LC_3', 'backcourt_usage', 'AB3%',
       'MR%', 'paint_nonra%', 'RA%', 'RC3%', 'LC3%', 'BC%'],
      dtype='object')

In [106]:
stat18_clean = pd.concat([stat18_clean, cstats18], sort= False)
stat18_clean.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'ORtg', 'DRtg', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM',
       'VORP', 'Games18', 'FB', 'PAINTPTS', 'TO_PTS', '2ND_PTS', 'Q1PTS',
       'Q2PTS', 'Q3PTS', 'Q4PTS', 'PPP', '>8ft%', '8-16ft%', '16-24ft%',
       '24+%', 'BCS%', '>8FTU', '8-16FTU', '16-24FTU', '24+U', 'BCU',
       'AVGDISTA', 'AVGDISTM', 'AVGDISTF', 'AFGM', 'JS', 'LU', 'DUN', 'TIPIN',
       'JS%', 'Layup%18', 'DUN%', '2PT_m', '3PT_m', 'FT_m', 'AB_3U', 'MRU',
       'paint_nonra', 'ra_usage', 'RC_3', 'LC_3', 'backcourt_usage', 'AB3%',
       'MR%', 'paint_nonra%', 'RA%', 'RC3%', 'LC3%', 'BC%', ' ', ' .1'],
      dtype='object')

## Putting it together

In [25]:
together = merged_df.merge(scrape538, how = 'outer', on = 'Player').merge(miner, how = 'outer', on = 'Player')

In [26]:
together.shape

(673, 115)

In [27]:
problem = together[together.isna().any(axis=1)]

In [28]:
problem.shape

(356, 115)

In [29]:
problem.to_csv('data/problem.csv')

In [24]:
trying = pd.read_csv('data/problem.csv')
trying

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,RC_3,LC_3,backcourt_usage,AB3%,MR%,paint_nonra%,RA%,RC3%,LC3%,BC%
0,3,Nickeil Alexander-Walker,SG,21.0,NOP,15.0,0.0,226.0,7.3,22.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,Thanasis Antetokounmpo,SF,27.0,MIL,3.0,0.0,13.0,6.9,13.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19,Marvin Bagley,PF,20.0,SAC,1.0,1.0,28.0,10.5,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24,RJ Barrett,SG,19.0,NYK,16.0,16.0,534.0,8.4,20.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30,Darius Bazley,PF,19.0,OKC,15.0,0.0,262.0,5.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,668,Tyler Ulis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352,669,George King,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353,670,Okaro White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
354,671,Zach Lofton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
355,672,Tyler Davis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0