In [33]:
import numpy as np
import seaborn as sns
import pandas as pd
import requests
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from selenium import webdriver

# importing dataframes

In [7]:
season1819 = pd.read_csv('season1819.csv')

In [8]:
season1819 = season1819.drop_duplicates(subset = 'Player', keep = 'first')
season1819 = season1819.drop(['Unnamed: 0', 'Unnamed: 29'], axis = 1)

In [11]:
season1819['url_list'][1]

'https://www.basketball-reference.com/players/a/acyqu01.html'

# scraping from front page

In [2]:
url = 'https://www.basketball-reference.com/'
res = requests.get(url)
res.status_code

200

In [3]:
soup = BeautifulSoup(res.content, 'lxml')
table = soup.find('table', {'id' : 'confs_standings_W'})

In [8]:
findings = table.find_all('tr')[1:]

In [27]:
teams = []
for row in table.find_all('tr')[1:]:
    team = {}
    team['slug'] = row.find('a').attrs['title']
    team['link'] = row.find('a').attrs['href']
    
    teams.append(team)
    
pd.DataFrame(teams)

                      slug                  link
0       Los Angeles Lakers  /teams/LAL/2020.html
1           Denver Nuggets  /teams/DEN/2020.html
2          Houston Rockets  /teams/HOU/2020.html
3     Los Angeles Clippers  /teams/LAC/2020.html
4                Utah Jazz  /teams/UTA/2020.html
5         Dallas Mavericks  /teams/DAL/2020.html
6             Phoenix Suns  /teams/PHO/2020.html
7   Minnesota Timberwolves  /teams/MIN/2020.html
8         Sacramento Kings  /teams/SAC/2020.html
9     New Orleans Pelicans  /teams/NOP/2020.html
10       San Antonio Spurs  /teams/SAS/2020.html
11   Oklahoma City Thunder  /teams/OKC/2020.html
12       Memphis Grizzlies  /teams/MEM/2020.html
13  Portland Trail Blazers  /teams/POR/2020.html
14   Golden State Warriors  /teams/GSW/2020.html

## find salary table on team page

In [28]:
url = 'https://www.basketball-reference.com//teams/LAL/2020.html'
res = requests.get(url)
res.status_code

200

In [31]:
soup = BeautifulSoup(res.content, 'lxml')
table = soup('div', {'id' : 'div_salaries2'})

In [32]:
table

[]

### Scraping salary using selenium

In [34]:
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
url = 'https://www.basketball-reference.com//teams/LAL/2020.html'
driver.get(url)
html = driver.page_source
html = BeautifulSoup(html, 'lxml')

In [35]:
ad_table = html.find('table', {'id' : 'salaries2' })

In [42]:
chart = ad_table.find('tbody')
players = chart.find_all('tr')

In [53]:
play = []
for stat in players:
    number = [row.text for row in stat.find_all('td')]
    play.append(number)

In [55]:
pd.DataFrame(play)

                           0            1
0               LeBron James  $37,436,858
1              Anthony Davis  $27,093,019
2                Danny Green  $14,634,146
3   Kentavious Caldwell-Pope   $8,089,282
4                  Luol Deng   $4,990,000
5              Avery Bradley   $4,767,000
6               JaVale McGee   $4,000,000
7           DeMarcus Cousins   $3,500,000
8                 Quinn Cook   $3,000,000
9                Alex Caruso   $2,750,000
10              Jared Dudley   $2,564,753
11               Rajon Rondo   $2,564,753
12             Dwight Howard   $2,564,753
13              Troy Daniels   $2,028,594
14                Kyle Kuzma   $1,974,600
15       Talen Horton-Tucker     $898,310

In [45]:
for stat in players:
    print(stat)

<tr data-row="0"><th class="center" csk="1" data-stat="ranker" scope="row">1</th><td class="left" data-append-csv="jamesle01" data-stat="player"><a href="/players/j/jamesle01.html">LeBron James</a></td><td class="right" csk="37436858" data-stat="salary">$37,436,858</td></tr>
<tr data-row="1"><th class="center" csk="2" data-stat="ranker" scope="row">2</th><td class="left" data-append-csv="davisan02" data-stat="player"><a href="/players/d/davisan02.html">Anthony Davis</a></td><td class="right" csk="27093019" data-stat="salary">$27,093,019</td></tr>
<tr data-row="2"><th class="center" csk="3" data-stat="ranker" scope="row">3</th><td class="left" data-append-csv="greenda02" data-stat="player"><a href="/players/g/greenda02.html">Danny Green</a></td><td class="right" csk="14634146" data-stat="salary">$14,634,146</td></tr>
<tr data-row="3"><th class="center" csk="4" data-stat="ranker" scope="row">4</th><td class="left" data-append-csv="caldwke01" data-stat="player"><a href="/players/c/caldwke01.html">Kentavious Caldwell-Pope</a></td><td class="right" csk="8089282" data-stat="salary">$8,089,282</td></tr>
<tr data-row="4"><th class="center" csk="5" data-stat="ranker" scope="row">5</th><td class="left" data-append-csv="denglu01" data-stat="player"><a href="/players/d/denglu01.html">Luol Deng</a></td><td class="right" csk="4990000" data-stat="salary">$4,990,000</td></tr>
<tr data-row="5"><th class="center" csk="6" data-stat="ranker" scope="row">6</th><td class="left" data-append-csv="bradlav01" data-stat="player"><a href="/players/b/bradlav01.html">Avery Bradley</a></td><td class="right" csk="4767000" data-stat="salary">$4,767,000</td></tr>
<tr data-row="6"><th class="center" csk="7" data-stat="ranker" scope="row">7</th><td class="left" data-append-csv="mcgeeja01" data-stat="player"><a href="/players/m/mcgeeja01.html">JaVale McGee</a></td><td class="right" csk="4000000" data-stat="salary">$4,000,000</td></tr>
<tr data-row="7"><th class="center" csk="8" data-stat="ranker" scope="row">8</th><td class="left" data-append-csv="couside01" data-stat="player"><a href="/players/c/couside01.html">DeMarcus Cousins</a></td><td class="right" csk="3500000" data-stat="salary">$3,500,000</td></tr>
<tr data-row="8"><th class="center" csk="9" data-stat="ranker" scope="row">9</th><td class="left" data-append-csv="cookqu01" data-stat="player"><a href="/players/c/cookqu01.html">Quinn Cook</a></td><td class="right" csk="3000000" data-stat="salary">$3,000,000</td></tr>
<tr data-row="9"><th class="center" csk="10" data-stat="ranker" scope="row">10</th><td class="left" data-append-csv="carusal01" data-stat="player"><a href="/players/c/carusal01.html">Alex Caruso</a></td><td class="right" csk="2750000" data-stat="salary">$2,750,000</td></tr>
<tr data-row="10"><th class="center" csk="11" data-stat="ranker" scope="row">11</th><td class="left" data-append-csv="dudleja01" data-stat="player"><a href="/players/d/dudleja01.html">Jared Dudley</a></td><td class="right" csk="2564753" data-stat="salary">$2,564,753</td></tr>
<tr data-row="11"><th class="center" csk="12" data-stat="ranker" scope="row">12</th><td class="left" data-append-csv="rondora01" data-stat="player"><a href="/players/r/rondora01.html">Rajon Rondo</a></td><td class="right" csk="2564753" data-stat="salary">$2,564,753</td></tr>
<tr data-row="12"><th class="center" csk="13" data-stat="ranker" scope="row">13</th><td class="left" data-append-csv="howardw01" data-stat="player"><a href="/players/h/howardw01.html">Dwight Howard</a></td><td class="right" csk="2564753" data-stat="salary">$2,564,753</td></tr>
<tr data-row="13"><th class="center" csk="14" data-stat="ranker" scope="row">14</th><td class="left" data-append-csv="danietr01" data-stat="player"><a href="/players/d/danietr01.html">Troy Daniels</a></td><td class="right" csk="2028594" data-stat="salary">$2,028,594</td></tr>
<tr data-row="14"><th class="center" csk="15" data-stat="ranker" scope="row">15</th><td class="left" data-append-csv="kuzmaky01" data-stat="player"><a href="/players/k/kuzmaky01.html">Kyle Kuzma</a></td><td class="right" csk="1974600" data-stat="salary">$1,974,600</td></tr>
<tr data-row="15"><th class="center" csk="16" data-stat="ranker" scope="row">16</th><td class="left" data-append-csv="hortota01" data-stat="player"><a href="/players/h/hortota01.html">Talen Horton-Tucker</a></td><td class="right" csk="898310" data-stat="salary">$898,310</td></tr>

# practicing scraping url list

In [22]:
url = 'https://www.basketball-reference.com/players/a/acyqu01.html'
res = requests.get(url)
res.status_code

200

In [23]:
soup = BeautifulSoup(res.content, 'lxml')

In [26]:
looking = soup.find('div', {'class': 'overthrow table_container'})

In [41]:
table = soup.find('table', {'id' : 'all_salaries'})

In [42]:
table