https://stats.nba.com/players/list/

In [4]:
import pandas as pd
import requests
import time
from time import sleep
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common import exceptions

## Traditional Stats

In [5]:
nba_players = 'https://stats.nba.com/players/traditional/?sort=PTS&dir=-1'
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []

i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
final = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [6]:
trad_columns = ['Player', 'Age', 'W', 'L', 'MP', 'PTS',
               'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM',
               'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV',
               'STL', 'BLK', 'PF', 'FP', 'DD2', 'TD3', '+/-']
final.columns = trad_columns

In [7]:
final.drop(columns = ['PTS', 'STL', 'BLK'], inplace = True)

## Opponent Stats

In [8]:
nba_players = 'https://stats.nba.com/players/opponent/?sort=GP&dir=-1'
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
opponent = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [9]:
opp_columns = ['Player', 'GP', 'L', 'MP', 'OOPFGM', 'OOPFGA',
              'OOPFG%', 'OOP3PM', 'OOP3PA', 'OOP3P%', 'OOPFTM', 'OOPFTA',
              'OOPFT%', 'OOPOREB', 'OOPDREB', 'OOPREB', 'OOPAST',
              'OOPTOV', 'OOPSTL', 'OOPBLK', 'OOPBLKA', 'OOPPF',
              'OOPPFD', 'OOPPTS', '+/-']

In [10]:
opponent.columns = opp_columns

## Defense Stats

In [11]:
nba_players = 'https://stats.nba.com/players/defense/?sort=DEF_WS&dir=-1'
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
defense = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [12]:
def_columns= ['Player', 'Age', 'GP', 'W', 'L', 'MP', 'DEF_RTG', 'DREB',
            'DREB%', 'T_DREB%', 'STL', 'T_STL%', 'BLK', 'T_BLK%',
            'OP_TOV', 'OP_2NDPTS', 'OP_PAINT', 'DEF_WS']
defense.columns = def_columns
defense.drop(columns = ['Age', 'GP', 'W', 'L', 'MP'], inplace = True)

## usage

In [13]:
nba_players = 'https://stats.nba.com/players/usage/?sort=USG_PCT&dir=-1'
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
usage = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [14]:
use_columns = ['Player', 'Age', 'W', 'L', 'MP', 'USG%',
              'T_FGM%', 'T_FGA%', 'T_3PM%', 'T_3PA%', 'T_FTM%',
              'T_FTA%', 'T_OREB%', 'T_DREB%', 'T_REB%', 'T_AST%', 'T_TOV%',
              'T_STL%', 'T_BLK%', 'T_BLKA%', 'T_PF%', 'T_PFD%', 'T_PTS%']
usage.columns = use_columns
usage.drop(columns = ['Age', 'W', 'L', 'MP'], inplace = True)

## Shooting

In [15]:
nba_players = 'https://stats.nba.com/players/scoring/?sort=GP&dir=-1'
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
shooting = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [16]:
shoot_col = ['Player', 'Age', 'W', 'L', 'MP', 'FGA_2P%', 'FGA_3P%',
            '2PT%', '2PT_MR%', '3PT%', 'FBPTS%', 'FT%', 'OFFTOV%', 'PAINTPTS%',
            'AST_2FGM%', 'UAST_2FGM%', 'AST_3FGM%', 'UAST_3FGM%',
            'FGM_AST%', 'FGM_UAST%']
shooting.columns = shoot_col
shooting.drop(columns = ['W', 'L', 'MP'], inplace= True)

## MISC

In [17]:
nba_players = 'https://stats.nba.com/players/misc/?sort=GP&dir=-1'
driver = webdriver.Chrome(executable_path="./chromedriver/windows/chromedriver.exe")
driver.get(nba_players)
player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
player_stats = []
new_split = []
i = 0
while i < 10:
    try: 
        player = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr')
        
        for q in player:
            player_stats.append(q.text.split('\n'))
            for z in player_stats:
                new_split.append(z[2].split(' '))
                    
        button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/a[2]')
        button.click()
        i += 1
        
    except exceptions.StaleElementReferenceException:
         pass

player_stats = pd.DataFrame(player_stats).reset_index(drop = True)
new_split = pd.DataFrame(new_split).drop_duplicates(keep = 'first').reset_index(drop = True)
misc = pd.concat([player_stats, new_split], axis = 1).drop(columns = [0, 2], axis = 1)

In [18]:
misc_col = ['Player', 'Age', 'W', 'L', 'MP', 'PTS_TOV', '2ND_CH_PTS',
           'FB_PTS', 'PAINT_PTS', 'OPP_PTS_TOV', 'OPP_2ND_PTS', 'OPP_FBPTS',
           'OPP_PAINT_PTS', 'BLK', 'BLKA', 'PF', 'PFD']
misc.columns = misc_col
misc.drop(columns = ['Age', 'W', 'L', 'MP', 'BLK', 'PF'], inplace = True)

# Combining all stats into one dataframe (except opponent)

In [51]:
nba_stats = final.merge(defense, how = 'outer', on = 'Player').merge(usage, how = 'outer', on = 'Player').merge(shooting, how = 'outer', on = 'Player').merge(misc, on = 'Player').drop_duplicates(keep = 'first')

In [38]:
nba_stats.shape

(457, 80)

In [39]:
nba_stats.head()

,Player,Age_x,W,L,MP,FGM,FGA,FG%,3PM,3PA,...,PTS_TOV,2ND_CH_PTS,FB_PTS,PAINT_PTS,OPP_PTS_TOV,OPP_2ND_PTS,OPP_FBPTS,OPP_PAINT_PTS,BLKA,PFD
0,James Harden,30,13,6,36.8,10.7,24.1,44.6,4.9,13.9,...,5.7,3.2,2.9,11.4,14.8,10.1,14.1,37.8,0.9,8.8
1,Giannis Antetokounmpo,24,17,3,32.4,11.5,20.6,56.0,1.4,4.9,...,6.2,4.4,6.8,19.0,10.8,6.3,8.3,25.7,1.2,9.0
2,Luka Doncic,20,12,6,34.2,9.8,20.2,48.6,3.1,9.4,...,2.9,2.7,2.4,12.7,11.5,10.3,10.1,33.7,0.4,7.6
3,Kyrie Irving,27,4,7,33.8,10.2,22.9,44.4,2.8,8.3,...,3.5,2.2,2.6,11.3,11.8,7.8,7.7,38.4,0.8,4.6
4,Trae Young,21,4,15,34.5,9.3,20.4,45.4,3.4,8.8,...,3.9,1.5,3.2,10.1,14.8,11.0,10.5,37.8,1.3,7.1

# adding in salaries and 538 numbers

In [48]:
salaries = pd.read_csv('data/salaries.csv')
scrape538 = pd.read_csv('data/scrape538.csv')
scrape538 = scrape538.drop(['Unnamed: 0', 'Position(s)'], axis = 1)
nba_stats = nba_stats.merge(scrape538, how = 'outer', on = 'Player').merge(salaries, how = 'outer', on = 'Player')

In [41]:
problem19 = nba_stats[nba_stats.isna().any(axis=1)]
problem19.to_csv('data/problem19.csv')
nba_stats.dropna(inplace = True)

In [42]:
problem19.shape

(212, 94)

In [43]:
fixed19 = pd.read_csv('data/problem19_fixed.csv')
nba_stats = pd.concat([fixed19, nba_stats], ignore_index = True, sort= False).drop(columns = ['Team', 'Unnamed: 0']).fillna(0)
nba_stats.shape

(461, 92)

In [44]:
nba_stats.head()

,Player,Age_x,W,L,MP,FGM,FGA,FG%,3PM,3PA,...,BSR Def.,BSR Total,OOR Off.,OOR Def.,OOR Total,OVR Off.,OVR Def.,OVR total,WAR,salary
0,Ante Zizic,22,0,5,13.3,2,3.6,55.6,0,0,...,-1.4,-4.9,1.6,-8.0,-6.4,-2.7,-2.6,-5.3,-0.1,"$2,281,800"
1,Boban Marjanovic,31,5,3,13,3,6,50,0,0.1,...,-2.1,-1.9,13.7,-1.2,12.5,2.6,-2.1,0.5,0.2,"$3,500,000"
2,Bogdan Bogdanovic,27,8,9,27.8,5.2,12.9,40.5,2.8,7.4,...,1.1,5.2,-0.2,1.4,1.3,3.6,1.2,4.8,1.7,"$8,529,386"
3,Bojan Bogdanovic,30,12,6,33.3,7.6,15.6,48.8,3.3,7,...,-0.2,1.6,7.9,-1.6,6.3,3.1,-0.5,2.6,1.5,"$17,000,000"
4,Brian Bowen II,21,2,1,3.2,0.3,1.3,25,0,0.3,...,7.4,-0.2,-1.1,0.8,-0.3,-6.7,6.5,-0.2,0.0,0

In [46]:
nba_stats.to_csv('data/nba_stats19.csv')