In [1]:
import pandas as pd
import requests
import time
from time import sleep
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

%matplotlib inline

# practie scraping 538

538 only has player ratings for the current year. So this will be based off their 2020 rankings

In [2]:
url = 'https://projects.fivethirtyeight.com/2020-nba-player-ratings/'
res = requests.get(url)
res.status_code

200

In [3]:
soup = BeautifulSoup(res.content, 'lxml')
table538 = soup.find('table', {'id' : 'table'})
len(table538.find_all('tr'))

462

Grabbing column names - Some of the labels have a double heading. I'm only grabbing the last column heading row and will rename it later just for the sake of time

In [4]:
#searching for all Tr in the chart 
#starting with 3rd index because that's where James Harden starts
players = table538.find_all('tr')[2:]

In [5]:
scrape = []
col_names = []
for label in table538.find_all('tr')[1]:
    find = label.text
    col_names.append(find)
for i in range(len(players)):
    look = [details.text for details in players[i].find_all('td')]
    scrape.append(look)

In [6]:
#turning scrape into dataframe
scrape538  = pd.DataFrame(scrape, columns = col_names)

In [7]:
scrape538.head()

,Player,Team,Position(s),Minutes,Off.,Def.,Total,Off.,Def.,Total,Off.,Def.,Total,WAR
0,James Harden,Rockets,"PG, SG",748,+11.5,+0.3,+11.8,+2.4,+9.2,+11.7,+10.3,+2.2,+12.5,5.8
1,Luka Doncic,Mavericks,"PG, SG, SF",676,+10.8,+1.3,+12.1,+5.8,-4.2,+1.6,+10.2,+0.3,+10.4,4.6
2,Giannis Antetokounmpo,Bucks,"SF, PF",669,+6.9,+2.6,+9.5,+2.7,+7.9,+10.7,+6.2,+3.8,+10.0,4.4
3,LeBron James,Lakers,"PG, SF, PF",734,+6.7,+0.3,+7.0,+8.1,+3.4,+11.5,+7.3,+0.9,+8.2,4.1
4,Montrezl Harrell,Clippers,C,654,+1.9,+5.9,+7.8,+5.9,+1.7,+7.6,+2.8,+5.3,+8.1,3.6

In [8]:
scrape538.shape

(460, 14)

In [9]:
scrape538.columns = ['Player', 'Team', 'Position(s)', 'Minutes', 'BSR Off.', 'BSR Def.', 'BSR Total',
                    'OOR Off.', 'OOR Def.', 'OOR Total', 'OVR Off.', 'OVR Def.', 'OVR total', 'WAR']

In [10]:
scrape538.to_csv('../data/scrape538.csv')

In [11]:
scrape538.head()

,Player,Team,Position(s),Minutes,BSR Off.,BSR Def.,BSR Total,OOR Off.,OOR Def.,OOR Total,OVR Off.,OVR Def.,OVR total,WAR
0,James Harden,Rockets,"PG, SG",748,+11.5,+0.3,+11.8,+2.4,+9.2,+11.7,+10.3,+2.2,+12.5,5.8
1,Luka Doncic,Mavericks,"PG, SG, SF",676,+10.8,+1.3,+12.1,+5.8,-4.2,+1.6,+10.2,+0.3,+10.4,4.6
2,Giannis Antetokounmpo,Bucks,"SF, PF",669,+6.9,+2.6,+9.5,+2.7,+7.9,+10.7,+6.2,+3.8,+10.0,4.4
3,LeBron James,Lakers,"PG, SF, PF",734,+6.7,+0.3,+7.0,+8.1,+3.4,+11.5,+7.3,+0.9,+8.2,4.1
4,Montrezl Harrell,Clippers,C,654,+1.9,+5.9,+7.8,+5.9,+1.7,+7.6,+2.8,+5.3,+8.1,3.6